# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
ENV/

# Database
*.db
*.db-journal
*.db-shm
*.db-wal

# Logging
*.log

# Environment variables
.env
.flaskenv

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
data/
instance/
static/img/logo.png
signatures/*
!signatures/.gitkeep
reports/*
!reports/.gitkeep
attachments/*
!attachments/.gitkeep
secret.key
