[settings]
profile = black
line_length = 120
known_first_party = app,extensions,models,services,routes,metrics,forms,pdf_utils
known_third_party = flask,flask_sqlalchemy,flask_wtf,flask_limiter,flask_apscheduler,flask_migrate,flask_login,sqlalchemy,werkzeug,fpdf,fpdf2,qrcode,jinja2,yaml,apscheduler,prometheus_client
