{% extends "base.html" %}
{% block title %}Ticket #{{ ticket.id }}{% endblock %}

{% block content %}
<div id="ticketDetailWrapper" data-ticket-id="{{ ticket.id }}">
<div class="row g-4">
    <!-- Main Content -->
    <div class="col-lg-8 order-2 order-lg-1">
        {% include 'components/_ticket_header.html' %}
        
        {% include 'components/_comment_history.html' %}

        {% include 'components/_comment_form.html' %}
    </div>

    <!-- Sidebar -->
    <div class="col-lg-4 order-1 order-lg-2">
        {% include 'components/_management_sidebar.html' %}
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ ingress_path }}{{ url_for('static', filename='js/ticket_detail.js') }}?v={{ config.VERSION }}"></script>
{% endblock %}
